.profile {
  margin: 0;
  border: 0;
  border-bottom: 1px rgb(197, 197, 197) solid;
  padding: 10px;
  display: grid;
  grid-template-columns: 120px calc(100% - 180px) 60px;
  grid-template-rows: 120px calc(100% - 120px);
}

.profile__image {
  size: cover;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.profile__name {
  margin: 0;
  padding: 10px;
  border: 0;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: left;
  font-weight: 500;
  position: relative;
  top: 30px;
  height: 10px;
}

.profile__nickname {
  margin: 0;
  padding: 10px;
  border: 0;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: left;
  font-weight: 600;
  height: 10px;
}

.profile__edit {
  border: 0;
  grid-row: 3 / 4;
  grid-row: 1 / 2;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgb(143, 204, 255);
}

.profile__edit:hover {
  border: 0;
  grid-row: 3 / 4;
  grid-row: 1 / 2;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgb(18, 158, 252);
}

.profile__logout {
  grid-row: 3 / 4;
  grid-row: 1 / 2;
  position: relative;
  width: 60px;
  height: 30px;
  right: 30px;
}

.profile__exp {
  margin: 0;
  padding: 10px;
  border: 0;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  word-wrap: break-word;
  position: relative;
  right: 120px;
  width: calc(100% + 120px);
}
